$size = 17px

.social
  &-wrapper
    display flex
    flex-direction column
  &-item
    width: $size
    height $size
    background-position center
    background-repeat: no-repeat
    background-size $size
    & + &
      margin-top: 10px


.inst
  background-image url('/assets/icons/inst.svg')

.vk
  background-image url('/assets/icons/vk.svg')

.telegram
  background-image url('/assets/icons/telegram.svg')

  