@import '~assets/colors'
@import '~assets/mixins'

:host
	background linear-gradient(45deg, lighten($primary, 80), lighten($primary, 95))
	display block
	padding-bottom 300px

header 
	//background-color #fff
	height 75vh
	
	min-height 430px
	
	background-size cover
	background-position center 
	background-repeat no-repeat
	display flex
	flex-direction column
	justify-content center
	width 100%
	position relative
	z-index 1
	&:before
		content ''
		position absolute
		top 0
		display block
		left 0
		bottom 0
		right 0
		background-color $primary
		opacity 0.8
		z-index -1

.social-btns-wrapper
	position absolute
	right 30px

h1
	font-family "Google"
	text-align center
	color lighten(red, 20)
	text-shadow 5px -5px lighten(blue, 20)
	font-size 70px
	margin 0
	font-weight bold

h2
	font-family "Google"
	text-align center
	color lighten(red, 20)
	text-shadow 5px -5px lighten(blue, 20)

.content-wrapper
	margin-top 40px

.card-wrapper
	margin-bottom 70px
		
