@import '~assets/colors'
@import '~assets/mixins'

:host
	display block
	width 100%
	position relative
	height 300px


.content-card
	padding 30px
	box-shadow 0 30px 30px -15px rgba(0 0 0 0.1), 0 3px 10px 0px rgba(0 0 0 0.2)
	brs()
	top 40px
	position absolute
	width 55%
	z-index 2
	display flex
	flex-direction column
	justify-content space-between
	background-color #fff
	bottom 0

.image-card
	background-position center 
	background-size cover
	right 0px
	position absolute
	display inline-block
	top 0
	bottom 40px
	width 55%
.header-wrapper	
	display flex
	justify-content space-between
	align-items center
	margin-bottom 10px

.title
	font-size 32px
	font-family "Google"
	font-weight 800

.footer-wrapper 
	margin-top 20px
.more-btn 
	margin 0
	border 3px solid $primary
	font-size 14px
	font-weight 800
	height 36px 
	width 120px
	line-height 32px