@import '~assets/colors'
@import '~assets/mixins'

:host
	display block
	background-color: $primary

	padding-bottom 15px
	border-radius 12px
	overflow hidden


.header
	display flex
	justify-content space-between
	align-items center
	width 100%
	// background-color #242424
	color $black
	padding 20px 16px
	box-sizing border-box


.title
	font-size 18px
	font-weight bold
	color $accent	
.date
	color #fff
	font-size 12px
.content
	letter-spacing: 0.5px
	color #fff
	font-size 14px
	padding 10px 16px
.more-btn
	background-color: transparent
	color: $black
	font-weight: 800
	padding: 0
	letter-spacing: 1px
	margin-top 5px
	margin-bottom 5px
	margin-left 16px
	color $accent
	height 30px
	line-height 30px
	text-align center
	position relative
	&:hover::after 
		width: 100%
	&::after
		content: ""
		transition()
		box-sizing: border-box
		position: absolute
		height 2px
		background-color: $accent
		display block
		margin: 0 auto
		left 0
		right 0
		width 0
		bottom: 0

.footer-wrapper
	justify-content: space-between
	display flex
	width 100%
	align-items: center