@font-face
  font-family: "Google"
  src: url("/assets/fonts/Google/Roboto-Light.ttf")
  font-weight: 200

@font-face
  font-family: "Google"
  src: url("/assets/fonts/Google/Roboto-Regular.ttf")
  font-weight: 500

@font-face
  font-family: "Google"
  src: url("/assets/fonts/Google/Roboto-Bold.ttf")
  font-weight: 800 

