/* You can add global styles to this file, and also import other style files */
@import './assets/colors'
@import './assets/font'

*
	font-family "Google"
::selection 
	background-color: $accent
body 
	margin 0
.btn
	border-width 1px
	border-radius 2px
	font-family "Google"
	height 36px
	line-height 36px
	padding 0 16px
	margin 0 auto
	display block
	transition 0.5s
	cursor pointer
	outline none

.link
	background: transparent
	border none
	cursor pointer


@import '~assets/media'